# Connor Lite Configuration

# Telegram Bot Token
TELEGRAM_TOKEN=7999042114:AAGm4xYjpHAnJnmGw-khsB9iPAv4uMAbPfw

# Your Telegram Chat ID (Numeric)
TELEGRAM_CHAT_ID=YOUR_CHAT_ID

# WhatsApp Mentions to watch for
USER_NAME=Abdul

# WhatsApp Filters (names as they appear in your WhatsApp list)
ALLOWED_GROUP=OnCampusErp
ALLOWED_CONTACTS=ContactName1, ContactName2
